doctype html
html(lang='en')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_fix
                include ./includes/header_top.jade
                .row
                    p.small-12.column.head_h1
                        i.icon-icons-set-01
                        |  Сувенирная лавка
                    p.small-12.column.align-bottom.head_h2
                        | Заказ №97023
            article.row.content.basket
                .small-12.column.basket_items
                    .row.basket_item
                        .large-2.column.basket_item_img
                            img(src="/img/items/cup.jpg", alt="Cup")
                        .large-6.column
                            p 
                                | Кружка с терморисунком
                                button.basket_item_close х
                            | Кружка-хамелеон, меняет цвет при нагревании
                        .large-3.column.basket_item_options
                            .select.basket_item_amount
                                button -
                                input(type="number",value="2")
                                button +
                    .row.basket_item
                        .large-2.column.basket_item_img
                            img(src="/img/items/sticker.jpg", alt="Sticker")
                        .large-6.column
                            p
                                | Наклейка
                                button.basket_item_close х
                            | Сердце-наклейка, эпоксидная основа
                        .large-3.column.basket_item_options
                            .select.basket_item_amount
                                button -
                                input(type="number",value="15")
                                button +
                        .large-1.column.basket_item_price
                            | 199 ₽
                    .row.basket_item
                        .large-2.column.basket_item_img
                            img(src="/img/items/t-shirt.jpg", alt="T-shirt")
                        .large-6.column
                            p 
                                | Футболка
                                button.basket_item_close х
                            | Серая хлопковая футболка
                        .large-3.column.basket_item_options
                            select.select.basket_item_size
                                option(value="S") S
                                option(value="M") M
                                option(value="L") L
                            .select.basket_item_amount
                                button -
                                input(type="number",value="2")
                                button +
                        .large-1.column.basket_item_price
                            | 1199 ₽
                    .row.basket_item
                        .large-2.column.basket_item_img
                            img(src="/img/items/t-shirt.jpg", alt="T-shirt")
                        .large-6.column
                            p 
                                | Футболка
                                button.basket_item_close х
                            | Серая хлопковая футболка
                        .large-3.column.basket_item_options
                            select.select.basket_item_size
                                option(value="S") S
                                option(value="M") M
                                option(value="L",selected) L
                            .select.basket_item_amount
                                button -
                                input(type="number",value="1")
                                button +
                        .large-1.column.basket_item_price
                            | 599 ₽
                    .row.basket_item
                        .large-2.column.basket_item_img
                            img(src="/img/items/backpack.jpg", alt="Backpack")
                        .large-6.column
                            p
                                | Рюкзак
                                button.basket_item_close х
                            | Холщёвый рюкзак для пикников и учёбы
                        .large-3.column.basket_item_options
                            .select.basket_item_amount
                                button -
                                input(type="number",value="2")
                                button +
                        .large-1.column.basket_item_price
                            | 1599 ₽
                .small-12.row.column.basket_delivery
                    .large-2.column.basket_header Доставка
                    .large-10.column.row
                        .large-6.column
                            input(type="text",value="Константин Константинопольский")
                            input(type="text",value="konstantinopolsky@konstantin.ru")
                            input(type="text",value="+7 ххх ххх хх хх")
                        .large-6.column.basket_delivery_options
                            p Опции
                            table
                                tr
                                    td 
                                        label
                                            input(type="radio",name="delivery_type")
                                            | Самовывоз (Москва, м.Выставочная, Пресненская набережная д.6, к.2)
                                    td 0₽
                                tr
                                    td
                                        label
                                            input(type="radio",name="delivery_type")
                                            | Курьером в пределах МКАД
                                    td 100₽
                                tr
                                    td
                                        label
                                            input(type="radio",name="delivery_type")
                                            | Почтой России
                                    td 200₽
                        .large-12.column
                            input(type="text",value="г. Москва, Бульвар Петра Алексеева 23к2")
                            .basket_delivery_map
                                img(src="/img/basket_map.jpg", alt="Map")
                .small-12.column.basket_payment
                    .large-2.column.basket_header Оплата
                    .large-10.column.row.align-spaced
                        .large-6.column.basket_payment_method
                            label
                                input(type="radio")
                                | Наличными курьеру
                            label
                                input(type="radio")
                                | Картой Visa/MasterCard
                            label
                                input(type="radio")
                                | WebMoney
                            label
                                input(type="radio")
                                | PayPal
                            label
                                input(type="radio")
                                | Яндекс.Деньгами
                        .column.shrink.basket_payment_price
                            | 4272 ₽
                            button.button.hollow.blue.filled Заказать
            include ./includes/footer.jade