doctype html
html(lang='en')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_free
                include ./includes/header_top.jade
                .row
                    p.small-12.column.head_h1
                        | Доставка по Сити
                    p.small-12.column.align-bottom.head_h2
                        | Мы можем доставить ваши 
                        a.is_active(href="#") документы
                        | , привезти вам горячий 
                        a(href="#") обед 
                        | или забрать ваши вещи из 
                        a(href="#") химчистки 
            article.row.content.tiles
                .small-12.column
                    .tile.row.column.delivery.align-justify.wo_backlight
                        .column.delivery_from
                            p.delivery_header.is_correct От кого
                            .input.is_correct
                                input(type="text",placeholder="ИМЯ",value="константин константинов")
                            .input.is_correct
                                input(type="text",placeholder="ТЕЛЕФОН",value="+7 987 654 3210")
                            .select
                                select
                                    option(value="",disabled) Строение
                                    option(value="БАШНЯ НА НАБЕРЕЖНОЙ",selected) БАШНЯ НА НАБЕРЕЖНОЙ
                                    option(value="БАШНЯ НА НАБЕРЕЖНОЙ") БАШНЯ НА НАБЕРЕЖНОЙ
                            .input.is_correct
                                input(type="text",placeholder="ЭТАЖ",value="51 этаж")
                            .input.is_correct
                                input(type="text",placeholder="ОФИС",value="1401 офис")
                        .column.delivery_whom
                            p.delivery_header.is_incorrect Кому
                            .input
                                input(type="text",placeholder="ИМЯ")
                            .input
                                input(type="text",placeholder="ТЕЛЕФОН")
                            .select
                                select
                                    option(value="ЭТАЖ",disabled,selected) Строение
                                    option(value="БАШНЯ НА НАБЕРЕЖНОЙ") БАШНЯ НА НАБЕРЕЖНОЙ
                                    option(value="") БАШНЯ НА НАБЕРЕЖНОЙ
                            .input
                                input(type="text",placeholder="ЭТАЖ")
                            .input
                                input(type="text",placeholder="ОФИС")
                        .column.delivery_what
                            p.delivery_header.is_correct Что
                            table.delivery_options
                                tr
                                    td 
                                        .select
                                            select
                                                option(value="",disabled) Вес
                                                option(value="",selected) ОТ 2,5 до 4,5 КГ
                                    td 200р
                                tr
                                    td(colspan="2")
                                        p.delivery_options_header Опции
                                tr
                                    td
                                        input(type="checkbox",id="direction",checked)
                                        label(for="direction") Туда и обратно
                                    td x2
                                tr
                                    td 
                                        input(type="checkbox",id="turbo")
                                        label(for="turbo")
                                            i.icon-icons-set-50
                                            | Турбо-режим
                                    td 100р
                                tr
                                    td Внутри одной башни
                                    td -100р
                        .small-12.column
                            textarea(rows="3",placeholder="Оставьте комментарий к заказу, от этого будет зависеть скорость прибытия курьера")
                        .small-12.column.row.align-right.delivery_price
                            .row.delivery_price_content
                                .column.delivery_price_header
                                    | Доставка
                                .column.delivery_price_cost
                                    | 400 ₽
                                .small-12.column
                                    button.button.hollow.blue.filled ЗАКАЗАТЬ
            include ./includes/footer.jade