doctype html
html(lang='ru')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_free
                include ./includes/header_top.jade
                .row
                    p.small-12.column.head_h1
                        | Вопросы
                    p.small-12.column.align-bottom.head_h2
                        input.faq_input(type="text",value="Почему меня никто не любит?")
                        button.button.blue ОТПРАВИТЬ
            article.row.content.tiles.faq
                .small-12.medium-4.column
                    .tile.tile_half.wo_backlight.faq_list
                        ul.menu.vertical
                            li
                                .tile_icon_brown.faq_icon_min
                                    i.icon-icons-set-49
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити?
                            li
                                .tile_icon_blue.faq_icon_min
                                    i.icon-icons-set-29
                                a(href="#") Где выгуливать собаку?
                            li
                                .tile_icon_green.faq_icon_min
                                    i.icon-icons-set-25
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити, и где выгуливать собаку?
                            li
                                .tile_icon_red.faq_icon_min
                                    i.icon-icons-set-31
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити?
                            li
                                .tile_icon_blue.faq_icon_min
                                    i.icon-icons-set-29
                                a(href="#") Где выгуливать собаку?
                            li
                                .tile_icon_green.faq_icon_min
                                    i.icon-icons-set-25
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити, и где выгуливать собаку?
                            li
                                .tile_icon_red.faq_icon_min
                                    i.icon-icons-set-66
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити?
                            li
                                .tile_icon_brown.faq_icon_min
                                    i.icon-icons-set-49
                                a(href="#") Где выгуливать собаку?
                            li
                                .tile_icon_blue.faq_icon_min
                                    i.icon-icons-set-29
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити, и где выгуливать собаку?
                            li
                                .tile_icon_green.faq_icon_min
                                    i.icon-icons-set-25
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити?
                            li
                                .tile_icon_red.faq_icon_min
                                    i.icon-icons-set-66
                                a(href="#") Где выгуливать собаку?
                            li
                                .tile_icon_blue.faq_icon_min
                                    i.icon-icons-set-49
                                a(href="#") Можно ли проводить съемки на территории Москва-Сити, и где выгуливать собаку?
                .small-12.medium-8.column.faq_quest
                    .tile.tile_half
                        .tile_icon.tile_icon_brown.faq_icon
                            i.icon-icons-set-49
                        .tile_content
                            p Можно ли проводить съемки на территории Москва-Сити?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Съемки могут запретить людям за преступления «сопряженные с туристической деятельностью» по статье УК РФ.
                            a.button.blue(href="#") Скачать
                    .tile.tile_half
                        .tile_icon.tile_icon_blue.faq_icon
                            i.icon-icons-set-29
                        .tile_content
                            p Где выгуливать собаку?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Выезд могут запретить людям с неснятой или непогашенной судимостью за преступления «сопряженные с террористической деятельностью» по одной из четырех статей Уголовного кодекса или за преступления экстремистской направленности. Вот их перечень: посягательство на жизнь государственного деятеля; насильственный захват власти; вооруженный мятеж; нападение на лиц, которые пользуются международной защитой. Таких преступлений очень много. Есть ряд статей об экстремистской деятельности — например, публичные призывы к экстремизму.
                    .tile.tile_half
                        .tile_icon.tile_icon_green.faq_icon
                            i.icon-icons-set-25
                        .tile_content
                            p Можно ли проводить съемки на территории Москва-Сити?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Съемки могут запретить людям за преступления «сопряженные с туристической деятельностью» по статье УК РФ.
                            a.button.blue(href="#") Скачать
                    .tile.tile_half
                        .tile_icon.tile_icon_red.faq_icon
                            i.icon-icons-set-31
                        .tile_content
                            p Где выгуливать собаку?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Выезд могут запретить людям с неснятой или непогашенной судимостью за преступления «сопряженные с террористической деятельностью» по одной из четырех статей Уголовного кодекса или за преступления экстремистской направленности. Вот их перечень: посягательство на жизнь государственного деятеля; насильственный захват власти; вооруженный мятеж; нападение на лиц, которые пользуются международной защитой. Таких преступлений очень много. Есть ряд статей об экстремистской деятельности — например, публичные призывы к экстремизму.
                    .tile.tile_half
                        .tile_icon.tile_icon_brown.faq_icon
                            i.icon-icons-set-49
                        .tile_content
                            p Можно ли проводить съемки на территории Москва-Сити?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Съемки могут запретить людям за преступления «сопряженные с туристической деятельностью» по статье УК РФ.
                            a.button.blue(href="#") Скачать
                    .tile.tile_half
                        .tile_icon.tile_icon_blue.faq_icon
                            i.icon-icons-set-29
                        .tile_content
                            p Где выгуливать собаку?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Выезд могут запретить людям с неснятой или непогашенной судимостью за преступления «сопряженные с террористической деятельностью» по одной из четырех статей Уголовного кодекса или за преступления экстремистской направленности. Вот их перечень: посягательство на жизнь государственного деятеля; насильственный захват власти; вооруженный мятеж; нападение на лиц, которые пользуются международной защитой. Таких преступлений очень много. Есть ряд статей об экстремистской деятельности — например, публичные призывы к экстремизму.
                    .tile.tile_half
                        .tile_icon.tile_icon_green.faq_icon
                            i.icon-icons-set-25
                        .tile_content
                            p Можно ли проводить съемки на территории Москва-Сити?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Съемки могут запретить людям за преступления «сопряженные с туристической деятельностью» по статье УК РФ.
                            a.button.blue(href="#") Скачать
                    .tile.tile_half
                        .tile_icon.tile_icon_red.faq_icon
                            i.icon-icons-set-31
                        .tile_content
                            p Где выгуливать собаку?
                            | Существует несколько категорий людей, которых могут коснуться новые ограничения. Выезд могут запретить людям с неснятой или непогашенной судимостью за преступления «сопряженные с террористической деятельностью» по одной из четырех статей Уголовного кодекса или за преступления экстремистской направленности. Вот их перечень: посягательство на жизнь государственного деятеля; насильственный захват власти; вооруженный мятеж; нападение на лиц, которые пользуются международной защитой. Таких преступлений очень много. Есть ряд статей об экстремистской деятельности — например, публичные призывы к экстремизму.
            include ./includes/footer.jade