doctype html
html(lang='en')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_map
                include ./includes/header_top.jade
                img(src="/img/map.jpg", alt="Map")
            article.content.tiles.grid_half
                .tile.tile_half.tile_half_min.tile_info
                    img(src="/img/tiles/skyline_icon.png", alt="Skyline icon")
                    p Деловой комплекс «Империя»
                    a(href="#")
                        | Подробная информация
                        i.icon-icons-set-03
                .tile.tile_half.tile_half_min.tile_info.icon_right
                    .tile_icon(style="font-size:60px")
                        i.fa.fa-code-fork
                    table
                        tr
                            td Адрес
                            td Пресненская набережная, 6 стр.2
                        tr
                            td телефон
                            td +7 495 123 45 67
                        tr
                            td mail
                            td info@empire.ru
                        tr
                            td САЙТ
                            td empire.ru
                .tile.tile_half.tile_info
                    .tile_icon(style='background-color: #006cff')
                        i.icon-icons-set-58
                    .tile_icon(style='background-color: #f6c828;color:#000')
                        i.icon-icons-set-56
                    b.tile_info_header На автомобиле или такси
                    b С внутренней части ТТК
                    | , съезжайте по указателю на Краснопресненскую набережную. На круговом движении съезд на ближайшем повороте направо на улицу Тестовская. Далее поворот налево на Пресненскую набережную, через 500 м после зеленого забора поверните налево к синим воротам делового комплекса «Империя».
                    br
                    br
                    b С внешней части ТТК
                    | , съежайте направо по указателю Москва-Сити на эстакаду. На ближайшем перекрестке поверните направо. На круговом движении второй съезд направо на улицу Тестовская. Далее поворот налево на Пресненскую набережную, через 500 м после зеленого забора поверните налево к синим воротам делового комплекса «Империя».
                    br
                    br
                    b Из центра
                    | , двигаясь по Краснопресненской набережной, проезжайте мост «Багратион» и через 100 метров после забора поверните направо к воротам делового комплекса «Империя».
                    a.button.hollow.blue(href="#") СКАЧАТЬ КАРТУ
                .tile.tile_half.tile_info
                    .tile_icon(style='background-color: #eb212e')
                        i.icon-icons-set-74
                    .tile_icon(style='font-size:60px;background-color: #00afec')
                        i.fa.fa-subway
                    b.tile_info_header На метро и МКЖД
                    b Со станции метро «Деловой центр» (Калининско-Солнцевская линия)
                    | выход в город по указателю на деловой комплекс «Империя», по эскалатору подняться в ТЦ «Афимолл Сити», из стеклянных дверей повернуть направо и мимо магазина H&M выйти на улицу, левее будет вход в деловой комплекс «Империя».
                    br
                    br
                    b Со станции метро «Выставочная» (Филёвская линия)
                    | выход  в город к ТЦ «Афимолл Сити», подняться в торговый центр на второй этаж, далее пройти его по левой стороне до магазина H&M и перед ним повернуть налево и выйти на улицу, левее будет вход в деловой комплекс «Империя».
                    br
                    br
                    b Со станции метро «Деловой центр» (Калининско-Солнцевская линия)
                    | выход в город по указателю на деловой комплекс «Империя», по эскалатору подняться в ТЦ «Афимолл Сити», из стеклянных дверей повернуть направо и мимо магазина H&M выйти на улицу, левее будет вход в деловой комплекс «Империя».
                    br
                    br
                    | Со станции метро «Выставочная» (Филёвская линия)
                    | выход  в город к ТЦ «Афимолл Сити», подняться в торговый центр на второй этаж, далее пройти его по левой стороне до магазина H&M и перед ним повернуть налево и выйти на улицу, левее будет вход в деловой комплекс «Империя».
                    a.button.hollow.blue(href="#") СКАЧАТЬ КАРТУ
                .tile.tile_half.tile_clear
                    .tile.tile_min.tile_parking
                        .tile_icon
                            i.icon-icons-set-32
                        a(href='#')
                            | Парковка в Сити
                            i.icon-icons-set-03
                    .tile.tile_min.tile_shops
                        .tile_icon
                            i.icon-icons-set-42
                        a(href='#')
                            | Магазины в Сити
                            i.icon-icons-set-03
                    .tile.tile_min.tile_cafe
                        .tile_icon(style="background-color: #009058")
                            i.icon-icons-set-44
                        a(href='#',style="color: #009058")
                            | Рестораны и кафе
                            i.icon-icons-set-03

            include ./includes/footer.jade