doctype html
html(lang='en')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_free
                include ./includes/header_top.jade
                .row
                    p.small-12.column.head_h1
                        | Официальная информация от ОАО «Сити»
                    p.small-12.column.align-bottom.head_h2
                        u Устав
                        | , 
                        u годовые отчеты
                        | , 
                        u распоряжения
                        |  и 
                        a(href="#") постановления
                        |  для 
                        u акционеров
                        |  и 
                        u не только
            article.row.official
                h1.small-12.column.official_header
                    | Управляющая компания ОАО «СИТИ» создана весной 1992 года. Уже в течение 20 лет ОАО «СИТИ» является представителем Правительства Москвы в отношениях с третьими лицами по вопросам управления,  создания и развития ММДЦ «Москва-Сити».
                .small-12.column.row.align-justify.official_blocks
                    .large-4.column.official_target
                        h2 Цель
                        | Наша деятельность направлена на то, чтобы преобразить облик ММДЦ «Москва-Сити», превратить его в место городского притяжения, в пространство, которое бы стало эталоном для деловых кварталов международного уровня с точки зрения удобства, функциональности и жизненной энергии.
                        br
                        br
                        | Наша цель — стать такой управляющей компанией, которая бы не только профессионально выполняла задачи технического характера, но и которая заботилась бы о том, как люди, по разным причинам оказавшиеся в «Москва-Сити», чувствуют себя в этом квартале. «Москва-Сити», как и любой полноценныий город, предназначен и для работы, и для жизни — здесь уже есть все необходимое, мы же стараемся добавить сюда жизнь. Мы с большим трепетом относимся ко всем жителям и посетителям «Москва-Сити», поэтому уже сейчас мы разрабатываем комплекс дополнительных услуг и сервисов, чтобы в «Москва-Сити» было еще приятнее, еще удобнее и еще интереснее проводить время.
                        a.button.hollow.blue(href="#") PRESS-KIT
                    .large-6.column.row.align-top.official_team
                        h2.small-12.column Команда
                        .large-6.column.official_employee
                            img(src="/img/tiles/official.jpg", alt="Employee")
                            p Татьяна Вольцингер
                            | Директор департамента по управлению территорией
                        .large-6.column.official_employee
                            img(src="/img/tiles/official.jpg", alt="Employee")
                            p Татьяна Вольцингер
                            | Директор департамента по управлению территорией
                        .large-6.column.official_employee
                            img(src="/img/tiles/official.jpg", alt="Employee")
                            p Татьяна Вольцингер
                            | Директор департамента по управлению территорией
                        .large-6.column.official_employee
                            img(src="/img/tiles/official.jpg", alt="Employee")
                            p Татьяна Вольцингер
                            | Директор департамента по управлению территорией
                        .large-6.column.official_employee
                            img(src="/img/tiles/official.jpg", alt="Employee")
                            p Татьяна Вольцингер
                            | Директор департамента по управлению территорией
                        .large-6.column.official_employee
                            img(src="/img/tiles/official.jpg", alt="Employee")
                            p Татьяна Вольцингер
                            | Директор департамента по управлению территорией
                .small-12.column.official_shareholders
                    h2 Акционерам
                    ul.accordion(data-accordion)
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#') 
                                span Устав внутренние документы
                            .accordion-content(data-tab-content='')
                                | Устав внутренние документы
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#') 
                                span Годовые отчёты
                            .accordion-content(data-tab-content='')
                                | Годовые отчёты
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#') 
                                span Сведения, которые могли оказать существенное влияние на стоимость ценных бумаг эмитента
                            .accordion-content(data-tab-content='')
                                | Сведения, которые могли оказать существенное влияние на стоимость ценных бумаг эмитента
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#') 
                                span Дополнительная информация
                            .accordion-content(data-tab-content='')
                                | Дополнительная информация
                        li.accordion-item.is-active(data-accordion-item='')
                            a.accordion-title(href='#')
                                span Банковские реквизиты ОАО «СИТИ» для оплаты расходов по изготовлению копий документов, запрашиваемых акционерами
                                span
                                    .button.hollow.float-right(href='#') Скачать
                            .accordion-content(data-tab-content='')
                                | Банковские реквизиты ОАО «СИТИ» для оплаты расходов по изготовлению копий документов, запрашиваемых акционерами
                                br
                                br
                                | Получатель платежа: Открытое акционерное общество «СИТИ»
                                br
                                | Идентификационный номер (ИНН): 7704026946
                                br
                                | Код причины постановки на учет (КПП): 774501001
                                br
                                | Расчетный счет: 407 028 105 0001 0001 602
                                br
                                | Наименование банка получателя: АКБ «СОЮЗ» (ОАО)
                                br
                                | Корреспондентский счет: 301 018 104 000 000 00122
                                br
                                | БИК: 044585122
                                br
                                br
                                | Стоимость изготовления копии 1 (одной) страницы документа составляет 1 (Один) рубль.
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#') 
                                span Контакты для акционеров
                            .accordion-content(data-tab-content='')
                                | Контакты для акционеров
                .small-12.column.official_legislation
                    h2 Законодательство
                    ul.accordion(data-accordion)
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#')
                                span Распоряжение Правительства Москвы от 28 августа 2009 г. N 1950-РП
                            .accordion-content(data-tab-content='')
                                | Распоряжение Правительства Москвы от 28 августа 2009 г. N 1950-РП
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#')
                                span Распоряжение Правительства Москвы от 27 августа 2009 г. N 1915-РП
                            .accordion-content(data-tab-content='')
                                | Распоряжение Правительства Москвы от 27 августа 2009 г. N 1915-РП
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#')
                                span Распоряжение Правительства Москвы от 10 июля 2009 г. N 1514-РП
                            .accordion-content(data-tab-content='')
                                | Распоряжение Правительства Москвы от 10 июля 2009 г. N 1514-РП
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#')
                                span Постановление от 14 апреля 2009 г. №229-ПП «О территориальной схеме зоны развития, прилегающей к ММДЦ «Москва-Сити»
                            .accordion-content(data-tab-content='')
                                | Постановление от 14 апреля 2009 г. №229-ПП «О территориальной схеме зоны развития, прилегающей к ММДЦ «Москва-Сити»
                        li.accordion-item(data-accordion-item='')
                            a.accordion-title(href='#')
                                span Постановление правительства Москвы от 17 февраля 2009 г. N 120-ПП
                            .accordion-content(data-tab-content='')
                                | Постановление правительства Москвы от 17 февраля 2009 г. N 120-ПП
            include ./includes/footer.jade