doctype html
html(lang='en')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_free
                include ./includes/header_top.jade
                .row
                    p.small-12.column.head_h1 Услуги
                    p.small-12.column.align-bottom.head_h2
                        | Мы оказываем услуги для 
                        a.is_active(href="#") всех: 
                        a(href="#") арендаторов,
                        | 
                        a(href="#") туристов,
                        | 
                        a(href="#") собственников зданий
                        |  и 
                        a(href="#") съемочных групп
            article.row.content.tiles.services
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_white.tile_services.w_shadow(style="background-image:url(/img/tiles/pink.jpg)")
                        p Сотрудникам,  арендаторам, ТУРИСТАМ
                        .tile_content
                            a(href="#") Аренда пространств для проведения мероприятий
                                i.icon-icons-set-03
                            a.button.pink(href="#") ЗАБРОНИРОВАТЬ
                .small-12.medium-6.large-8.column
                    .tile.tile_half.tile_white.tile_services.w_shadow(style="background-image:url(/img/tiles/taxi.jpg)")
                        p ВСЕМ
                        .tile_content.tile_services_content
                            a(href="#")
                                | От метро до Сити за 149 рублей 
                                i.icon-icons-set-03
                            a.button.yellow(href="#") Заказать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_tours.tile_white.tile_services.w_shadow
                        p ТУРИСТАМ
                        .tile_content
                            a(href="#")
                                | Экскурсии на официальную смоторовую площадку 
                                i.icon-icons-set-03
                            a.button.white(href="#") Забронировать
                .small-12.medium-6.large-4.column
                    .tile.tile_half.tile_services.tile_inverse
                        p Всем
                        .tile_content
                            .tile_inverse_header
                                | Тут нет
                                br
                                | того что
                                br
                                | нужно?
                            a.button.hollow.white(href="#") Напишите нам
            include ./includes/footer.jade