doctype html
html(lang='en')
    include ./includes/head.jade
    body
        main.wrap
            header.head.head_fix.head_free
                include ./includes/header_top.jade
                .row
                    p.small-12.column.head_h1
                        | Сувенирная лавка
                    .small-12.row.column.align-bottom
                        .small-12.medium-6.large-2.column
                            .select.select_white
                                select
                                    option(value="По цене") По цене
                        .small-12.medium-6.large-4.column
                            .select.select_white
                                select
                                    option(value="По популярности",disabled,selected) По популярности
                        .small-12.large-4.column.large-offset-2
                            .purchases
                                .purchases_header
                                    a(href="#")
                                        i.icon-icons-set-23
                                        | ПОКУПКИ
                                .purchases_price
                                    | 4272 ₽
            article.row.content.tiles.store
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/cup.jpg", alt="Cup")
                        .tile_store_content
                            .tile_store_price
                                | 399 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 1280
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/backpack.jpg", alt="Backpack")
                        .tile_store_content
                            .tile_store_price
                                | 1899 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 42
                        .tile_store_content
                            | Кружка для кофе 
                            br
                            | с термо-рисунком
                            a.button.hollow(href="#") КУПИТЬ
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/t-shirt.jpg", alt="T-shirt")
                        .tile_store_content
                            .tile_store_price
                                | 1499 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 721
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/t-shirt2.jpg", alt="T-shirt")
                        .tile_store_content
                            .tile_store_price
                                | 1499 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 721
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/backpack2.jpg", alt="Backpack")
                        .tile_store_content
                            .tile_store_price
                                | 1899 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 42
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/logo.jpg", alt="Logo")
                        .tile_store_content
                            .tile_store_price
                                | 199 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 1280
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/img.jpg", alt="Img")
                        .tile_store_content
                            .tile_store_price
                                | 59 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 1280
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/img2.jpg", alt="Img")
                        .tile_store_content
                            .tile_store_price
                                | 59 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 1280
                .small-12.medium-6.large-4.column
                    .tile.tile_store
                        img(src="/img/store/cup2.jpg", alt="Cup")
                        .tile_store_content
                            .tile_store_price
                                | 399 ₽
                            .tile_store_like
                                i.icon-icons-set-14
                                | 1280
            script(src='/bower_components/jquery/dist/jquery.js')
            script(src='/bower_components/foundation-sites/dist/foundation.js')
            script(src='/js/min/app-min.js')