head
    meta(charset='UTF-8')
    title CityMoscow
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='../css/app.css')
    script(src="https://use.fontawesome.com/5d9df53e16.js")
