footer.footer
    .row.align-justify
        .small-8.medium-6.column
            .logo
                .logo_inner
                    | Moscow City
        .shrink.column.powered_by
            img(src='/img/solvers.png', alt='Solvers Estate')
    .row.footer_menu
        .small-6.medium-4.large-2.column
            h5 ОАО «Сити»
            ul
                li
                    a(href='#') О компании
                li
                    a(href='#') Здания
                li
                    a(href='#') Аналитика
                li
                    a(href='#') Будущее
                li
                    a(href='#') Медиа
                li
                    a(href='#') Пресса
        .small-6.medium-4.large-2.column
            h5 City ID
            ul
                li
                    a(href='#') О карте
                li
                    a(href='#') Заказать
                li
                    a(href='#') Личный кабинет
        .small-6.medium-4.large-2.column
            h5 Директория
            ul
                li
                    a(href='#') Инфраструктура
                li
                    a(href='#') Карта
                li
                    a(href='#') Реклама в Сити
                li
                    a(href='#') Мероприятия
                li
                    a(href='#') Съемки
        .small-6.medium-4.large-2.column
            h5 Туризм
            ul
                li
                    a(href='#') Смотровая площадка
                li
                    a(href='#') Магазин
        .small-6.medium-4.large-2.column
            h5 Информация
            ul
                li
                    a(href='#') F.A.Q
                li
                    a(href='#') Как добраться
                li
                    a(href='#') Карта
                li
                    a(href='#') Такси
        .small-6.medium-4.large-2.column
            h5 Недвижимость
            ul
                li
                    a(href='#') Офисы
                li
                    a(href='#') Аппартаменты
                li
                    a(href='#') О Сити
                li
                    a(href='#') Развитие
        .small-12.column.copyright
            | ©2015
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/foundation-sites/dist/foundation.js')
script(src='/js/min/app-min.js')