footer.footer
    .row.align-justify
        .small-8.medium-6.column
            .logo
                .logo_inner
                    img(src='/img/logo.svg', alt='Logo')
        .shrink.column.powered_by
            img(src='/img/solvers.png', alt='Solvers Estate')
    .row.footer_menu
        .small-6.medium-4.large-2.column
            h5 ОАО «Сити»
            ul
                li
                    a(href='#') 
                        | О компании
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Здания
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Аналитика
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Будущее
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Медиа
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Пресса
                        i.icon-icons-set-03
        .small-6.medium-4.large-2.column
            h5 City ID
            ul
                li
                    a(href='#') 
                        | О карте
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Заказать
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Личный кабинет
                        i.icon-icons-set-03
        .small-6.medium-4.large-2.column
            h5 Директория
            ul
                li
                    a(href='#') 
                        | Инфраструктура
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Карта
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Реклама в Сити
                        i.icon-icons-set-03
                li
                    a(href='#')
                        | Мероприятия
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Съемки
                        i.icon-icons-set-03
        .small-6.medium-4.large-2.column
            h5 Туризм
            ul
                li
                    a(href='#') 
                        | Смотровая площадка
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Магазин
                        i.icon-icons-set-03
        .small-6.medium-4.large-2.column
            h5 Информация
            ul
                li
                    a(href='#') 
                        | F.A.Q
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Как добраться
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Карта
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Такси
                        i.icon-icons-set-03
        .small-6.medium-4.large-2.column
            h5 Недвижимость
            ul
                li
                    a(href='#') 
                        | Офисы
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Аппартаменты
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | О Сити
                        i.icon-icons-set-03
                li
                    a(href='#') 
                        | Развитие
                        i.icon-icons-set-03
        .small-12.column.copyright
            | ©2015
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/select2/dist/js/select2.min.js')
script(src='../bower_components/foundation-sites/dist/foundation.js')
script(src='../js/min/app-min.js')