.row
  nav.shrink.column.nav
    .nav_menu
      button.nav_hamb
      ul.nav_list.vertical.menu
        li
          a(href='#') ОАО «СИТИ»
        li
          a(href='#') SKYLINE
        li
          a(href='#') ИНФРАСТРУКТУРА
        li
          a(href='#') УСЛУГИ
        li
          a(href='#') КАРТА
        li
          a(href='#') АФИША
        li
          a(href='#') СУВЕНИРЫ
        li
          a(href='#') F.A.Q.
  .large-11.column
    .logo
      .logo_inner
        a(href='/html')
          img(src='/img/logo.png', alt='Logo')
    .social
      .social_inner
        ul
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-youtube
          li
            a(href='#')
              i.fa.fa-envelope