.row
    nav.shrink.column.nav
        .nav_menu
            button.nav_hamb
            ul.nav_list.vertical.menu
                li
                    a(href='./official.html') ОАО «СИТИ»
                li
                    a(href='./skyline.html') SKYLINE
                li
                    a(href='#') ИНФРАСТРУКТУРА
                li
                    a(href='./services.html') УСЛУГИ
                li
                    a(href='./map.html') КАРТА
                li
                    a(href='./afisha.html') АФИША
                li
                    a(href='./store.html') СУВЕНИРЫ
                li
                    a(href='./faq.html') F.A.Q.
    .large-11.column
        .logo
            .logo_inner
                a(href='/html')
                    img(src='/img/logo.png', alt='Logo')
        .login

        .social
            .social_inner
                ul
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-instagram
                    li
                        a(href='#')
                            i.fa.fa-youtube-square
                    li
                        a(href='#')
                            i.fa.fa-envelope-o