.small-12.column.towers
    ul
        li
            a(href='#')
        li.active
            .towers_hint
                p Renaissance Moscow Towers
                | 328 м
                br
                | 2016 г
            a(href='#')
                img(src='/img/tower-17.png', alt='')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')
        li
            a(href='#')