doctype html
html(lang='ru')
    include ./includes/head
    body
        main.wrap
            header.head.head_fix
                include ./includes/header_top
                .row
                    p.small-12.column.head_h1
                        | Инфраструктура
                    .small-12.row.column.align-bottom
                        .small-12.medium-6.large-4.column
                            .select.select_white
                                select(data-placeholder="Рестораны и кафе")
                                    option
                                    option Ресторан
                                    option Кафе
                        .small-12.medium-6.large-4.column
                            .select.select_white
                                select(data-placeholder="Строение")
                                    option
                                    option Строение1
                                    option Строение2
                        .small-12.large-4.column
                            .search
                                input(type="text",placeholder="Поиск")
            article.row.content.tiles.listing
                h2.small-12.column.related_header Top line – любая подборка из четырех заведений
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#") 
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
            .stripe
                .row.align-middle
                    .small-9.column
                        p Скидка 10% на товары в категории противо&shy;воспалительные средства
                    .small-3.column.stripe_arrow
                        i.fa.icon-icons-set-03
                        a(href='#')
                            | Аптека, Империя,
                            br
                            | -1 этаж
            article.row.content.tiles
                h2.small-12.column.related_header Все места
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
                .small-12.medium-6.large-3.column
                    .tile.tile_square.tile_listing
                        img(src='./img/tiles/listing.jpg', alt='')
                        p Fornetto Бар&amp;Пицца
                        a(href="#")
                            | Рестораны, кафе
                            i.icon-icons-set-03
                        table.tile_caption
                            tr
                                td Башня на Набережной
                                td - 1 этаж
    script(src='./js/app.min.js')